*{
  margin:0px;
  padding:0px;
}
.myScroll::-webkit-scrollbar{
    width:2px;
    background-color:rgb(255, 255, 255);
}
.myScroll::-webkit-scrollbar-button{
    background-color: rgb(255, 255, 255);
}
.Lucida { 
  font-family: Arial, Helvetica, sans-serif;
}
.myScroll::-webkit-scrollbar-thumb{
  background-color: rgb(228, 220, 220);
  border-radius:10px;
  width:4px !important;
}

.myScroll-x::-webkit-scrollbar{
  height:4px;
  background-color:rgb(255, 255, 255);
}
.myScroll-x::-webkit-scrollbar-button{
  background-color: rgb(255, 255, 255);
  
}
.myScroll-x::-webkit-scrollbar-thumb{
  background-color: rgb(217, 217, 217);
  border-radius:10px;
  height:4px !important;
}

a{
  text-decoration: none !important;
}

.hoverClass:hover ~ .hoverAction {
  zoom: 140%;
  transition: all;
}


.react-calendar { 
  width: 400px;
  padding:0px 10px;
  max-width: 100%;
  background-color: transparent !important;
  color: #222;
  /* border-radius: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border:none !important;
  height:270px !important;
 }

 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 /* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
 .react-calendar__tile{
   width: 20px !important; 
   height:30px !important; 
   padding:0px !important;
   line-height:20px !important;
   font-size:12px;
 }
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #390dc7f4 !important;
  border-radius: 50% !important;
  font-weight: bold !important;
  color: #ffffff !important;
  transition: .5s;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus{
  background: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  color: #4f27d2;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__month-view__weekdays__weekday{
   font-size:10px !important;
   color: rgb(92, 92, 92) !important;
 }
.react-calendar__navigation__label{
  font-size:12px !important;
}





/* progressBar ------ */

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: 40; }
}



@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: 100%;
  height:100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage 40;
  content: counter(percentage) '%';
}



.hover-target{
  display:none;
}
.hover-trigger:hover p{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 187, 0);
}
.hover-trigger:hover .hover-target{
  display: block;
}